[Unit]
Description=NTURT CAN Monitor Server - Vehicle Side
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Desktop/RPI_Desktop/nturacing_remote_monitor/client
ExecStart=/usr/bin/python3 /home/pi/Desktop/RPI_Desktop/nturacing_remote_monitor/client/client_vehicle.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Enviromental variables
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
