[Unit]
Description=NTURT CAN Monitor Server - Remote Side
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Desktop/nturacing_remote_monitor/server
ExecStart=/usr/bin/python3 /home/pi/Desktop/nturacing_remote_monitor/server/server_remote.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Enviromental variables
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
